<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lbee.common.core.mapper.OperationLogMapper">


  <sql id="Base_Column_List">
      a.id AS id,
      a.op_module AS opModule,
      a.op_type AS opType,
      a.op_desc AS opDesc,
      a.request_param AS requestParam,
      a.result_body AS resultBody,
      a.uri AS uri,
      a.method AS method,
      a.op_user AS opUser,
      a.login_ip AS loginIp,
      a.tenant_id AS tenantId,
      a.del_flag AS delFlag,
      a.create_by AS createBy,
      a.create_date AS createDate,
      a.update_by AS updateBy,
      a.update_date AS updateDate,
      a.remarks AS remarks
  </sql>
</mapper>

